.temp-navs {
  font-weight: 900;
  font-size: 2rem !important;
 }

 .hr-nav {
    border: 1px solid black;
 }

 .nav-below-writing{
   padding-left: 1em;
   font-size: 1em;
   font-weight: 800;
   /* padding-top: em; */
 }

 .nav-below-writing-left {
  padding-right: 1em;
  font-weight: 800;
  text-align: right;
 }



/* search bar component */
 .form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}



/* body  */


.body-background {
  background-color: black;
}

.text-color-body {
  color: white;
}

.text-color-body-2 {
  background-color: rgb(231, 231, 231);
  color:black
}

ul {
  list-style-type: none;
}