.temp-navs {
  font-weight: 900;
  font-size: 2rem !important;
 }

 .hr-nav {
    border: 1px solid black;
 }

 .nav-below-writing{
   padding-left: 1em;
   font-size: 1em;
   font-weight: 800;
   /* padding-top: em; */
 }

 .nav-below-writing-left {
  padding-right: 1em;
  font-weight: 800;
  text-align: right;
 }



/* search bar component */
 .form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}



/* body  */


.body-background {
  background-color: black;
}

.text-color-body {
  color: white;
}

.text-color-body-2 {
  background-color: rgb(231, 231, 231);
  color:black
}

ul {
  list-style-type: none;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em; 
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}

.border-radius {
  border-radius: 10px;
}

.padding-left-adjust {
  margin-left: 30vw;
}

.margining {
  margin-left: 40vw;
}